html,
body {
  height: 100%; }

body {
  font-family: "OpenSansRegular"; }

@font-face {
  font-family: "OpenSansRegular";
  src: url(../fonts/OpenSans-Regular.ttf); }
@font-face {
  font-family: "OpenSansSemibold";
  src: url(../fonts/OpenSans-Semibold.ttf); }
@font-face {
  font-family: "OpenSansBold";
  src: url(../fonts/OpenSans-Bold.ttf); }
@font-face {
  font-family: "RobotoMedium";
  src: url(../fonts/Roboto-Medium.ttf); }
@font-face {
  font-family: "RobotoBold";
  src: url(../fonts/Roboto-Bold.ttf); }
/*MAIN*/
.uk-position-top-right-out {
  transform: translate(100%, -100%);
  -webkit-transform: translate(100%, -100%); }

.uk-position-top-right-out-25 {
  transform: translate(25%, -25%);
  -webkit-transform: translate(25%, -25%); }

.uk-position-top-right-out-25-15 {
  transform: translate(25%, -15%);
  -webkit-transform: translate(25%, -15%); }

/*TEXT*/
h1, h2, h3, h4, h5 {
  font-family: "OpenSansBold"; }

h1 {
  font-size: 50px; }

h4 {
  font-family: "OpenSansRegular";
  font-size: 25px; }

p {
  color: #888888;
  line-height: 2.4; }

/*PROMO SECTION*/
#promo-section {
  background: url(../img/Pattern.png) top left no-repeat, url(../img/promo.png) bottom left no-repeat, url(../img/promo-bg.png) no-repeat;
  background-size: auto, auto 80%, cover; }

form.uk-search {
  width: 375px; }

input[type="search"] {
  font-family: "OpenSansSemibold";
  font-size: 18px; }

.uk-search .uk-search-icon {
  width: 70px;
  background: url(../img/search.png) no-repeat center; }
  .uk-search .uk-search-icon svg {
    display: none; }

.uk-search-default .uk-search-input {
  background: #fff;
  border: none;
  padding-left: 70px !important;
  border-radius: 40px;
  height: 66px;
  box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.16); }
  .uk-search-default .uk-search-input:focus {
    background: #fff; }

.shadow {
  box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.16); }

.purple-shadow {
  box-shadow: 0px 0px 50px 0px #edebfd; }

.z-index-minus-1 {
  position: relative;
  z-index: -1; }

.z-index-1 {
  position: relative;
  z-index: 1; }

.uk-margin-minus {
  margin-top: -100px; }

input[type="search"]::-webkit-input-placeholder {
  color: #151515;
  opacity: 1 !important; }
input[type="search"]:-moz-placeholder {
  color: #151515;
  opacity: 1 !important; }
input[type="search"]::-moz-placeholder {
  color: #151515;
  opacity: 1 !important; }
input[type="search"]:-ms-input-placeholder {
  color: #151515;
  opacity: 1 !important; }

.uk-search .uk-select {
  background: url(../img/arrow-down.png) no-repeat !important;
  background-position: calc(100% - 25px) center !important;
  position: absolute;
  right: 0;
  top: 0;
  border: 0;
  padding-left: 0px;
  padding-right: 40px !important;
  width: auto;
  height: 66px !important;
  color: #151515;
  font-family: "OpenSansSemibold";
  font-size: 18px;
  cursor: pointer; }

.large-text {
  font-size: 115px;
  font-family: "RobotoBold";
  margin: 0; }

.medium-text {
  font-size: 50px;
  font-family: "RobotoMedium"; }

.uk-text-light {
  color: #fff; }

.uk-text-dark {
  color: #000; }

.uk-text-yellow {
  color: #fbf934; }

.uk-text-purple {
  color: #7048e2; }

.uk-text-purple-light {
  color: #8d83f9; }

.uk-button {
  font-size: 20px;
  font-family: "OpenSansSemibold";
  padding: 23px 50px;
  line-height: 1;
  border-radius: 60px;
  border: none;
  box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.16); }

.uk-button-default {
  background: #fff;
  color: #151515; }
  .uk-button-default:hover {
    background: #eee; }

.uk-button-primary {
  background: #8c84f9;
  background: -moz-linear-gradient(45deg, #8c84f9 0%, #a165f4 100%);
  background: -webkit-linear-gradient(45deg, #8c84f9 0%, #a165f4 100%);
  background: linear-gradient(45deg, #8c84f9 0%, #a165f4 100%); }

.uk-flex-start {
  align-items: start; }

/*CARD*/
.uk-card-title {
  font-size: 18px;
  color: #777777;
  font-weight: normal;
  font-family: "OpenSansRegular"; }

.uk-card img {
  height: 260px; }
.uk-card .uk-button {
  position: absolute;
  white-space: nowrap;
  left: 50%;
  bottom: 0;
  transform: translate(-50%, 75%);
  -webkit-transform: translate(-50%, 75%);
  opacity: 0;
  transition: 0.5s; }
.uk-card:hover .uk-button {
  opacity: 1;
  transform: translate(-50%, 50%);
  -webkit-transform: translate(-50%, 50%); }
.uk-card .icon {
  width: 25px;
  height: 25px;
  padding: 0px 10px;
  display: inline-block;
  vertical-align: middle;
  margin: 0;
  background-repeat: no-repeat;
  background-position: center; }
  .uk-card .icon + span {
    display: inline-block;
    vertical-align: middle; }
  .uk-card .icon.icon-heart {
    background-image: url(../img/line.png); }
  .uk-card .icon.icon-comment {
    background-image: url(../img/comment.png); }
.uk-card .card-header {
  opacity: 0;
  transition: 0.5s; }
.uk-card:hover .card-header {
  opacity: 1; }
.uk-card .uk-price {
  font-family: "OpenSansSemibold";
  font-size: 25px; }
.uk-card:hover .uk-price {
  color: #8c84f9; }

/*# sourceMappingURL=main.css.map */
